
/*banner*/
.banner1{
	background:url(images/9.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:300px;
}
.banner1 h3{
	text-align: center;
    color: #212121;
    font-size: 2.5em;
    padding: .5em 0;
    position: relative;
	margin:3em 0 0;
}
.banner1 h3:before{
	border-top:4px double #fff;
	content:'';
	position:absolute;
	top:0%;
	left:40%;
}
.banner1 h3:after{
	border-bottom: 4px double #fff;
    content: '';
    position: absolute;
    bottom: 0%;
    right: 40%;
}
.banner1 h3:before,.banner1 h3:after{
	width: 20%;
}
/*wrapper*/
#line{
	background-color: #000;
	padding-top: 30px;

}
/*menu*/
.menu1 h2{
	color: #f49d25;
}
.menu1 {
	color: #6b6b6b;
}
/**/
header h2{
	color: #3298c7;
}
header p{
	color: #4298c7;
}
/**/
.major{
	color: #ffaa31;
}
